<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.3.2" targetFramework="net451" />
  <package id="jQuery" version="2.1.3" targetFramework="net451" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.1.9" targetFramework="net451" />
  <package id="knockout.es5.TypeScript.DefinitelyTyped" version="0.1.5" targetFramework="net451" />
  <package id="Knockout.Mapping" version="2.4.0" targetFramework="net451" />
  <package id="knockout.mapping.TypeScript.DefinitelyTyped" version="0.1.5" targetFramework="net451" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="0.7.0" targetFramework="net451" />
  <package id="knockoutjs" version="3.2.0" targetFramework="net451" />
  <package id="Moment.js" version="2.9.0" targetFramework="net451" />
  <package id="numeral" version="1.5.3" targetFramework="net451" />
  <package id="numeraljs.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net451" />
  <package id="RequireJS" version="2.1.16" targetFramework="net451" />
  <package id="requirejs.TypeScript.DefinitelyTyped" version="0.2.0" targetFramework="net451" />
  <package id="typescript.collections" version="0.9" targetFramework="net451" />
</packages>